In [41]:
import pandas as pd
data={
    'Feature':[1,2,4,8,16,32,64,128,256,512],
    'Target':[2,3,6,12,24,48,96,192,384,768]
}
df=pd.DataFrame(data)
df

   Feature  Target
0        1       2
1        2       3
2        4       6
3        8      12
4       16      24
5       32      48
6       64      96
7      128     192
8      256     384
9      512     768

In [45]:
import numpy as np
df['logfea']=np.log(df['Feature']) #log is applied to normalize squewed dataset
df

   Feature  Target    logfea
0        1       2  0.000000
1        2       3  0.693147
2        4       6  1.386294
3        8      12  2.079442
4       16      24  2.772589
5       32      48  3.465736
6       64      96  4.158883
7      128     192  4.852030
8      256     384  5.545177
9      512     768  6.238325